<!DOCTYPE HTML>
<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
    <title>Evolution - Pokémon Big Data</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
</head>

<body class="subpage">

    <!-- Header -->
    <header id="header" class="alt">
        <div class="logo"><a href="/">Pokémon Big Data <span>Encounter</span></a></div>
        <a href="#menu"><span>Menu</span></a>
    </header>

    <!-- Nav -->
    <nav id="menu">
        <ul class="links">
            <li><a href="/">Home</a></li>
            <li><a href="/shape">Pokémon Shape</a></li>
            <li><a href="/evolution">Pokémon Evolution</a></li>
        </ul>
    </nav>

    <!-- Content -->
    <!--
			Note: To show a background image, set the "data-bg" attribute below
			to the full filename of your image. This is used in each section to set
			the background image.
		-->
    <section id="post" class="wrapper bg-img post" data-bg="../static/img/pokemon-bg-7.png">
        <div class="inner">
            <article class="box">
                <header>
                    <h2>Pokémon Encounter</h2>
                </header>
                <div class="content">
                    <p>Ac pretium parturient et scelerisque dis pulvinar nascetur suspendisse justo parturient est quis adipiscing nisi dis eu ullamcorper. Penatibus aliquet vestibulum dis pretium a ullamcorper accumsan facilisis elit ullamcorper porttitor
                        dictumst per a a potenti interdum fusce a adipiscing nostra ac parturient. Proin a imperdiet at a scelerisque quam et at ante aenean per per faucibus senectus lobortis mi tincidunt a penatibus. Mauris vestibulum aliquet parturient
                        odio dapibus euismod a mi ullamcorper maecenas turpis non scelerisque nibh fermentum natoque erat parturient suspendisse a magna curabitur cum.</p>
                </div>
                <!--
                    <footer>
                    <ul class="actions">
                        <li><a href="#" class="button alt icon fa-chevron-left"><span class="label">Previous</span></a></li>
                        <li><a href="#" class="button alt icon fa-chevron-right"><span class="label">Next</span></a></li>
                    </ul>
                </footer>
                -->
            </article>
        </div>
    </section>
    <!-- section header END! -->
    <section id="number" class="wrapper bg-img post_section" data-bg="../static/img/pokemon-bg-5.png">
        <div class="dark">
            <div class="inner">
                <h2>Number of methods to Catch Pokémon by Location Areas</h2>
                <p>There are <strong>[651] location areas</strong> in Pokémon. The maximum methods available to use to catch Pokémon at one aera is 6, however, it is interesting that there are [71] areas only available to encounter Pokémon but without common
                    methods to catch Pokémon. In nearly half location areas(47%), there is only [one] method available to catch pokemon.</p>
                <div id='method-catch'></div>
                <!-- method to catch by location area END! -->
                <h2>Average Percentage of Catching one Pokémon by Possible Catch Methods</h2>
                <p>In general, one location area with more available methods to catch Pokémon has a comparatively higher rate in encountering Pokémon and catching Pokémon.</p>
                <div id='rate_catch'></div>
                <!-- catch rate VS methods by location area END ! -->
            </div>
        </div>
    </section>
    <!-- method graph section END ! -->
    <section class="wrapper bg-img post_section">
        <div class="dark">
            <div class="inner">
                <header>
                    <h2>Top 10 Location Areas to Catch Pokémon</h2>
                    <p>8 out 10 areas in the Top 10 list are with 4 methods to encounter Pokémon, it is no wonder that <strong>location areas with 4 catch methods have the highest rate of catching Pokémon(5.85%) in average.</strong></p>
                </header>
                <table>
                    <thead>
                        <tr>
                            <th>Location Area</th>
                            <th>Avg Catch Rate of One Pokémon</th>
                            <th>Available Methods to Catch</th>
                            <th>Max Number Pokémon to Encounter</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>mt-ember-b3f</td>
                            <td>16.25%</td>
                            <td>2</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>eterna-city-area</td>
                            <td>15.74%</td>
                            <td>4</td>
                            <td>6</td>
                        </tr>
                        <tr>
                            <td>sinnoh-pokemon-league-area</td>
                            <td>14.22%</td>
                            <td>4</td>
                            <td>8</td>
                        </tr>
                        <tr>
                            <td>vermilion-city-area</td>
                            <td>13.91%</td>
                            <td>5</td>
                            <td>17</td>
                        </tr>
                        <tr>
                            <td>pallet-town-area</td>
                            <td>13.50%</td>
                            <td>4</td>
                            <td>16</td>
                        </tr>
                        <tr>
                            <td>sinnoh-sea-route-223-area</td>
                            <td>13.42%</td>
                            <td>4</td>
                            <td>9</td>
                        </tr>
                        <tr>
                            <td>cerulean-city-area</td>
                            <td>13.18%</td>
                            <td>4</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>sinnoh-route-219-area</td>
                            <td>13.17%</td>
                            <td>4</td>
                            <td>9</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>resort-area-area</td>
                            <td>12.35%</td>
                            <td>4</td>
                            <td>6</td>
                        </tr>
                    </tfoot>
                </table>
                <!-- top 10 Area END ! -->
                <header>
                    <h2>Easy Encounter & Catch Pokémon</h2>
                    <p>Here listed the most easy encounter & catch Pokémon. They are all [water] type amazingly.</p>
                </header>
                <table>
                    <thead>
                        <tr>
                            <th>Pokémon</th>
                            <th>Name</th>
                            <th>Available Areas to Meet</th>
                            <th>Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/129.png" /></td>
                            <td>magikarp</td>
                            <td>210</td>
                            <td>water</td>
                        </tr>
                        <tr>
                            <td><img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/72.png"></td>
                            <td>tentacool</td>
                            <td>102</td>
                            <td>water, poison</td>
                        </tr>
                        <tr>
                            <td><img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/60.png" /></td>
                            <td>poliwag</td>
                            <td>88</td>
                            <td>water</td>
                        </tr>
                        <tr>
                            <td><img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/118.png"></td>
                            <td>goldeen</td>
                            <td>97</td>
                            <td>water</td>
                        </tr>
                        <tr>
                            <td><img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/130.png" /></td>
                            <td>gyarados</td>
                            <td>106</td>
                            <td>water, flying</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td><img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/54.png" /></td>
                            <td>psyduck</td>
                            <td>86</td>
                            <td>water</td>
                        </tr>
                    </tfoot>
                </table>
                <!-- Top easy Pokemon END ! -->
                <header>
                    <h2>The Encounter & Catch relationship between Pokémon and Location Area</h2>
                    <p>I selected 96 most easy to catch Pokémon(10%) and 65 most easy to encounter Pokémon location areas(10%) as data sample to compare and analize.</p>
                    <p>76 out of 96 Pokémon(79.17%) are able to encounter in the top 65 location areas, and 72 out of 96(75%) Pokémon are able to be caught in these 65 location areas.</p>
                    <p>As a result, the high rate of encountering or catching Pokémon in a certain location area is mainly because of the easy-to-catch Pokémon. In another word, Pokémon apprears in these easy-to-catch location areas is probably those easy-to-catch
                        ones.
                    </p>
                </header>
                <!-- relationship between pokemon and location area-->
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer id="footer">
        <div class="inner">

            <ul class="icons">
                <li><a href="#" class="icon round fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon round fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon round fa-instagram"><span class="label">Instagram</span></a></li>
            </ul>

            <div class="copyright">
                &copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
            </div>

        </div>
    </footer>

    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{{ url_for( 'static', filename='js/jquery.min.js' ) }}"></script>
    <script src="{{ url_for( 'static', filename='js/jquery.scrolly.min.js' ) }}"></script>
    <script src="{{ url_for( 'static', filename='js/jquery.scrollex.min.js' ) }}"></script>
    <script src="{{ url_for( 'static', filename='js/skel.min.js' ) }}"></script>
    <script src="{{ url_for( 'static', filename='js/util.js' ) }}"></script>
    <script src="{{ url_for( 'static', filename='js/main.js' ) }}"></script>
    <script src="{{ url_for( 'static', filename='js/base-js.js' ) }}"></script>
    <script src="{{ url_for( 'static', filename='js/encounter.js' ) }}"></script>
    <!--
        <script src="{{ url_for( 'static', filename='js/plotly.js' ) }}"></script>
    -->
</body>

</html>