<!DOCTYPE HTML>
<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
    <title>Pokémon Big Data</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
</head>

<body>

    <!-- Header -->
    <header id="header">
        <div class="logo"><a href="index.html">Pokémon Big Data</a></div>
        <a href="#menu"><span>Menu</span></a>
    </header>

    <!-- Nav -->
    <nav id="menu">
        <ul class="links">
            <li><a href="/">Home</a></li>
            <li><a href="/shape">Pokémon Shape</a></li>
            <li><a href="/evolution">Pokémon Evolution</a></li>
        </ul>
    </nav>

    <!-- Banner -->
    <!--
			Note: To show a background image, set the "data-bg" attribute below
			to the full filename of your image. This is used in each section to set
			the background image.
		-->
    <section id="banner" class="bg-img" data-bg="../static/img/pokemon-bg-4.jpg">
        <div class="inner">
            <header>
                <h1>Pokémon Big Data</h1>
            </header>
        </div>
        <a href="#one" class="more">Learn More</a>
    </section>
    <!-- Five -->
    <section id="four" class="wrapper post bg-img" data-bg="../static/img/pokemon-bg-1.jpg">
        <div class="inner">
            <article class="box">
                <header>
                    <h2>Pokémon Battle Result Online Prediction</h2>
                    <p>An online system with [95%] accuracy to predict the result between 2 Pokémon.</p>
                </header>
                <div class="content">
                    <blockquote>Go, Pikachu! With hope and dream, for the victory of battle in life!</blockquote>
                </div>
                <footer>
                    <a href="/predict" class="button alt">Learn More</a>
                </footer>
            </article>
        </div>
    </section>

    <!-- One -->
    <section id="one" class="wrapper post bg-img" data-bg="../static/img/pokemon-bg-6.jpg">
        <div class="inner">
            <article class="box">
                <header>
                    <h2>Pokémon Shape</h2>
                    <!--<p>01.01.2017</p>-->
                </header>
                <div class="content">
                    <p>I analysed Pokémon shape data(height, weight) based on data source
                        <a href="https://pokeapi.co/api/v2/type/" target="_blank">Pokémon type API</a> and
                        <a href="https://pokeapi.co/api/v2/pokemon/" target="_blank">Pokémon API</a>.
                    </p>
                    <p>In this section, it displays very straitforward infomation about Pokémon's basic features, like average height and weight by type, heaviest Pokémon, smallest Pokémon, so on and so forth.</p>
                </div>
                <footer>
                    <a href="/shape" class="button alt">Learn More</a>
                </footer>
            </article>
        </div>
        <a href="#two" class="more">Learn More</a>
    </section>

    <!-- Two -->
    <section id="two" class="wrapper post bg-img" data-bg="../static/img/pokemon-bg-5.png">
        <div class="inner">
            <article class="box">
                <header>
                    <h2>Pokémon Evolution</h2>
                </header>
                <div class="content">
                    <p>Data Source: <a href="https://pokeapi.co/api/v2/evolution-chain/" href="_blank">https://pokeapi.co/api/v2/evolution-chain/</a></p>
                    <p>What changes in Pokémon during evolution?</p>
                    <h6>D3 interface is under construction.</h6>
                </div>
                <footer>
                    <a href="/evolution" class="button alt">Learn More</a>
                </footer>
            </article>
        </div>
        <a href="#three" class="more">Learn More</a>
    </section>

    <!-- Three -->
    <section id="three" class="wrapper post bg-img" data-bg="../static/img/pokemon-bg-7.png">
        <div class="inner">
            <article class="box">
                <header>
                    <h2>Pokémon Encounter</h2>
                    <p>under construction</p>
                </header>
                <div class="content">
                    <p>Pokémon hebitation and encounter rate.</p>
                </div>
                <footer>
                    <a href="/encounter" class="button alt">Learn More</a>
                </footer>
            </article>
        </div>
        <a href="#four" class="more">Learn More</a>
    </section>
    <!-- Four -->
    <section id="four" class="wrapper post bg-img" data-bg="banner3.jpg">
        <div class="inner">
            <article class="box">
                <header>
                    <h2>Pokémon Move</h2>
                    <p>under construction</p>
                </header>
                <div class="content">
                    <p>Scelerisque enim mi curae erat ultricies lobortis donec velit in per cum consectetur purus a enim platea vestibulum lacinia et elit ante scelerisque vestibulum. At urna condimentum sed vulputate a duis in senectus ullamcorper lacus
                        cubilia consectetur odio proin sociosqu a parturient nam ac blandit praesent aptent. Eros dignissim mus mauris a natoque ad suspendisse nulla a urna in tincidunt tristique enim arcu litora scelerisque eros suspendisse.</p>
                </div>
                <footer>
                    <a href="/move" class="button alt">Learn More</a>
                </footer>
            </article>
        </div>
    </section>

    <!-- Footer -->
    <footer id="footer">
        <div class="inner">
            <ul class="icons">
                <li><a href="#" class="icon round fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon round fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon round fa-instagram"><span class="label">Instagram</span></a></li>
            </ul>

            <div class="copyright">
                &copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
            </div>

        </div>
    </footer>

    <!-- Scripts -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.scrolly.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.scrollex.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/util.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>