<!DOCTYPE HTML>
<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
    <title>Pokémon Big Data</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
</head>

<body>

    <!-- Header -->
    <header id="header">
        <div class="logo"><a href="index.html">Pokémon Big Data</a></div>
        <a href="#menu"><span>Menu</span></a>
    </header>

    <!-- Nav -->
    <nav id="menu">
        <ul class="links">
            <li><a href="/">Home</a></li>
            <li><a href="/predict">Pokémon Battle Prediction</a></li>
            <li><a href="/shape">Pokémon Shape</a></li>
            <li><a href="/encounter">Pokémon Encounter</a></li>
            <li><a href="/evolution">Pokémon Evolution</a></li>
            <li><a href="/move">Pokémon Move</a></li>
        </ul>
    </nav>

    <!-- Banner -->
    <!--
			Note: To show a background image, set the "data-bg" attribute below
			to the full filename of your image. This is used in each section to set
			the background image.
		-->
    <section id="banner" class="bg-img" data-bg="../static/img/pokemon-bg-4.jpg">
        <div class="inner">
            <header>
                <h1>Pokémon Big Data</h1>
            </header>
        </div>
        <a href="#one" class="more">Learn More</a>
    </section>
    <!-- Five -->
    <section id="one" class="wrapper post bg-img" data-bg="../static/img/pokemon-bg-10.jpg">
        <div class="inner">
            <article class="box">
                <header>
                    <h2>Pokémon Battle Prediction</h2>
                    <p>Online prediction system with [90%] accuracy to predict the battle result between 2 Pokémon.</p>
                </header>
                <div class="content">
                    <blockquote>Go, Pikachu! With hope and dream！<br> 去吧，皮卡丘！带着希望和梦想！<br> 行って、ピカチュウ！ 希望と夢をもって！
                    </blockquote>
                </div>
                <footer>
                    <a href="/predict" class="button alt">Learn More</a>
                </footer>
            </article>
        </div>
        <a href="#two" class="more">Learn More</a>
    </section>

    <!-- One -->
    <section id="two" class="wrapper post bg-img" data-bg="../static/img/pokemon-bg-1.jpg">
        <div class="inner">
            <article class="box">
                <header>
                    <h2>Pokémon Shape</h2>
                    <p>Pokémon general analysis on Pokémon average height, weight and base experience by type and color.</p>
                </header>
                <div class="content">
                    <blockquote>Go, Pikachu! I Choose You!<br> 去吧，皮卡丘！就决定是你了！<br> 行って、ピカチュウ！ それはあなた次第です！
                    </blockquote>
                </div>
                <footer>
                    <a href="/shape" class="button alt">Learn More</a>
                </footer>
            </article>
        </div>
        <a href="#three" class="more">Learn More</a>
    </section>
    <!-- Three -->
    <section id="three" class="wrapper post bg-img" data-bg="../static/img/pokemon-bg-9.jpg">
        <div class="inner">
            <article class="box">
                <header>
                    <h2>Pokémon Encounter</h2>
                    <p>Different Pokémon encounter and catch rate by [location areas].<br>Relationships between Pokémon encounter rate, catch methods and location areas.</p>
                </header>
                <div class="content">
                    <blockquote>Go, Pikachu! Our goal is the Master of Pokémon!<br> 去吧，皮卡丘！我们的目标是精灵宝可梦大师！<br> 行って、ピカチュウ！めざせポケモンマスター！
                    </blockquote>
                </div>
                <footer>
                    <a href="/encounter" class="button alt">Learn More</a>
                </footer>
            </article>
        </div>
        <a href="#four" class="more">Learn More</a>
    </section>
    <!-- Two -->
    <section id="four" class="wrapper post bg-img" data-bg="../static/img/pokemon-bg-2.jpg">
        <div class="inner">
            <article class="box">
                <header>
                    <h2>Pokémon Evolution</h2>
                    <p>Pokémon evolution chain types and changes after evolution.</p>
                </header>
                <div class="content">
                    <h6>D3 interface is under construction.</h6>
                </div>
                <footer>
                    <a href="/evolution" class="button alt">Learn More</a>
                </footer>
            </article>
        </div>
        <a href="#five" class="more">Learn More</a>
    </section>

    <!-- Four -->
    <section id="five" class="wrapper post bg-img" data-bg="../static/img/pokemon-bg-12.jpg">
        <div class="inner">
            <article class="box">
                <header>
                    <h2>Pokémon Move</h2>
                    <p>Pokémon move classes and categories.<br> Relationships between Pokémon attacking power and move classes
                        <br>Most common moves and most powerful moves.</p>
                </header>
                <div class="content">
                    <h6>D3 interface is under construction.</h6>
                </div>
                <footer>
                    <a href="/move" class="button alt">Learn More</a>
                </footer>
            </article>
        </div>
    </section>

    <!-- Footer -->
    <footer id="footer">
        <div class="inner">
            <ul class="icons">
                <li><a href="#" class="icon round fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon round fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon round fa-instagram"><span class="label">Instagram</span></a></li>
            </ul>

            <div class="copyright">
                &copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
            </div>

        </div>
    </footer>

    <!-- Scripts -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.scrolly.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.scrollex.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/util.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>