<!DOCTYPE HTML>
<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
    <title>Battle Predict - Pokémon Big Data</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
</head>

<body class="subpage" ng-app="myApp">

    <!-- Header -->
    <header id="header" class="alt">
        <div class="logo"><a href="/">Pokémon Big Data <span>Battle Predict</span></a></div>
        <a href="#menu"><span>Menu</span></a>
    </header>

    <!-- Nav -->
    <nav id="menu">
        <ul class="links">
            <li><a href="/">Home</a></li>
            <li><a href="/predict">Pokémon Battle Prediction</a></li>
            <li><a href="/shape">Pokémon Shape</a></li>
            <li><a href="/encounter">Pokémon Encounter</a></li>
            <li><a href="/evolution">Pokémon Evolution</a></li>
            <li><a href="/move">Pokémon Move</a></li>
        </ul>
    </nav>

    <!-- Content -->
    <!--
			Note: To show a background image, set the "data-bg" attribute below
			to the full filename of your image. This is used in each section to set
			the background image.
		-->
    <section id="post" ng-controller="myCtrl" class="wrapper bg-img post_section" data-bg="../static/img/pokemon-bg-10.jpg">
        <div class="dark">
            <div class="inner">
                <header>
                    <h2>Pokémon Battle Predict</h2>
                    <p>Choose 2 Pokémon from the dropdown list to check the battle result prediction</p>
                    <p>Pokémon battle prediction is a data model based on the theory of marchine learning and mathsmatics probability events calculation. After analyzing <strong>[50,000] Pokémon battle instances of [783] Pokémon</strong> in the database,
                        I have developed this amazing data model to predict battle result between 2 Pokémon, which has reached <strong>above [90%] accurate</strong> prediction in average now.</p>
                    <p>Furthermore, this data model can <strong>improve the accuracy of prediction by gaining [battle instances]</strong>, which means with the increasing of battle instances gaining in the database, the accuracy of battle prediction
                        <strong>has the possibility to improve from the current [90%] to [100%]</strong> infinitely.</p>
                    <p>For more details of data model development and error testing process, please visit author's <a href="https://github.com/wangdianyh/project-3/blob/master/project-3/data/combats.ipynb" target="_blank">raw ipynb file</a> on Github.</p>
                </header>

                <div class="row uniform">
                    <div class="col-sm-6 6u 12u$(xsmall)">
                        <div id='pok_1_box' class='pokemon-box'>
                            <div class="pok-img-box">
                                <img src='../static/img/ball.png' width="96" height="96" id='pok_1_img' />
                            </div>
                            <div>
                                <h4 ng-bind='pok_1_s.name'></h4>
                                <span ng-bind=pok_1_s.type1></span>&nbsp;
                                <span ng-bind=pok_1_s.type2></span>
                                <div>
                                    <h6 ng-bind='pok_1_s.win_rate'></h6>
                                </div>
                            </div>
                        </div>

                        <div class="select-box">
                            <span ng-bind='pok_1_not_select'></span>
                            <input ng-model="pok_filter_1.name" class="input-filter" type="text" value="" placeholder="Select Pokémon One" />
                            <!--
                                <table class="easy-pokemon" id='pok_list_1'>
                                <tbody></tbody>
                            </table>
                            -->
                            <div class="pok_dropdown" id='pok_list_1'>
                                <ul></ul>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-6 6u 12u$(xsmall)">
                        <div id='pok_2_box' class='pokemon-box'>
                            <div class="pok-img-box">
                                <img src='../static/img/ball.png' width="96" height="96" id='pok_2_img' />
                            </div>
                            <div>
                                <h4 ng-bind='pok_2_s.name'></h4>
                                <span ng-bind=pok_2_s.type1></span>&nbsp;
                                <span ng-bind=pok_2_s.type2></span>
                                <div>
                                    <h6 ng-bind='pok_2_s.win_rate'></h6>
                                </div>
                            </div>
                        </div>
                        <div class="select-box">
                            <span ng-bind='pok_2_not_select'></span>
                            <input ng-model="pok_filter_2.name" class="input-filter" type="text" value="" placeholder="Select Pokémon Two" />
                            <div class="pok_dropdown" id='pok_list_2'>
                                <ul></ul>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row predict-result">
                    <a id='submit_pok' class="button special big">Pokémon Go !</a>
                    <!-- play again btn -->
                    <a id='play-again' class="button special big" ng-click='initial()'>Play Again !</a>
                </div>
                <!-- pokemon check form END !!! -->
                <div class="row">
                    <h5>Note about Online Battle Predict</h5>
                    <blockquote>
                        In the online battle predict system, there are only [723] Pokémon avalaible to check battle result after dropping and clearing invalid data to avoid causing unexpected error by random users.
                        <br><br> According to the <a href='https://pokeapi.co/docs/v2.html' target="_blank">Pokémon official data site</a>, [964] Pokémon are released in total.
                    </blockquote>
                </div>
                <!-- note about the application END !!! -->
            </div>
        </div>
    </section>
    <!-- section header END! -->


    <!-- Footer -->
    <footer id="footer">
        <div class="inner">

            <ul class="icons">
                <li><a href="#" class="icon round fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon round fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon round fa-instagram"><span class="label">Instagram</span></a></li>
            </ul>

            <div class="copyright">
                &copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
            </div>

        </div>
    </footer>

    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>
    <script src="{{ url_for( 'static', filename='js/jquery.min.js' ) }}"></script>
    <script src="{{ url_for( 'static', filename='js/jquery.scrolly.min.js' ) }}"></script>
    <script src="{{ url_for( 'static', filename='js/jquery.scrollex.min.js' ) }}"></script>
    <script src="{{ url_for( 'static', filename='js/skel.min.js' ) }}"></script>
    <script src="{{ url_for( 'static', filename='js/util.js' ) }}"></script>
    <script src="{{ url_for( 'static', filename='js/main.js' ) }}"></script>
    <script src="{{ url_for( 'static', filename='js/predict.js' ) }}"></script>
</body>

</html>