<!DOCTYPE HTML>
<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
    <title>Shape - Pokémon Big Data</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylecheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
</head>

<body class="subpage">

    <!-- Header -->
    <header id="header" class="alt">
        <div class="logo"><a href="/">Pokémon Big Data <span> Shape</span></a></div>
        <a href="#menu"><span>Menu</span></a>
    </header>

    <!-- Nav -->
    <nav id="menu">
        <ul class="links">
            <li><a href="/">Home</a></li>
            <li><a href="/shape">Pokémon Shape</a></li>
            <li><a href="/evolution">Pokémon Evolution</a></li>
        </ul>
    </nav>

    <!-- Content -->
    <!--
			Note: To show a background image, set the "data-bg" attribute below
			to the full filename of your image. This is used in each section to set
			the background image.
		-->
    <section id="post" class="wrapper bg-img post" data-bg="../static/img/pokemon-bg-6.jpg">
        <div class="inner">
            <article class="box">
                <header>
                    <h2>Pokémon Shape</h2>
                </header>
                <div class="content">
                    <p>Ac pretium parturient et scelerisque dis pulvinar nascetur suspendisse justo parturient est quis adipiscing nisi dis eu ullamcorper. Penatibus aliquet vestibulum dis pretium a ullamcorper accumsan facilisis elit ullamcorper porttitor
                        dictumst per a a potenti interdum fusce a adipiscing nostra ac parturient. Proin a imperdiet at a scelerisque quam et at ante aenean per per faucibus senectus lobortis mi tincidunt a penatibus. Mauris vestibulum aliquet parturient
                        odio dapibus euismod a mi ullamcorper maecenas turpis non scelerisque nibh fermentum natoque erat parturient suspendisse a magna curabitur cum.</p>
                </div>
                <!--
                    <footer>
                    <ul class="actions">
                        <li><a href="#" class="button alt icon fa-chevron-left"><span class="label">Previous</span></a></li>
                        <li><a href="#" class="button alt icon fa-chevron-right"><span class="label">Next</span></a></li>
                    </ul>
                </footer>
                -->
            </article>
        </div>
    </section>
    <!-- section header END! -->
    <section id="number" class="wrapper bg-img post_section">
        <div class="dark">
            <div class="inner">
                <h2>Pokémon Types</h2>
                <p>There are <strong>18</strong> types of <strong>964</strong> Pokémon in Pokémon big data. Click the buttons below graph to view more detail data of each type.</p>
                <div id='svg_number'></div>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button id='number' type="button" class="btn btn-info active-btn">Number</button>
                    <button id='height' type="button" class="btn btn-info">Average Height</button>
                    <button id='weight' type="button" class="btn btn-info">Average Weight</button>
                    <button id='dens' type="button" class="btn btn-info">Weight VS Height</button>
                    <button id='experience' type="button" class="btn btn-info">Average Base Experience</button>
                </div>
                <div class='type-disc'>
                    <p id='number'><strong>[flying]</strong> is the first type of Pokémon in Pokémon world, which has <strong>123</strong> in this type, and it is also the only one type that has over 100 Pokémon.</p>
                    <p id='height'>Obviously, <strong>[dragon]</strong> is the heighest Pokémon in average.</p>
                    <p id='weight'>The weight difference between type is larger than height, and <strong>[dragon]</strong> wins again in average weight comparison.</p>
                    <p id='dens'>Although [dragon] is the biggest Pokémon in average, <strong>[psychic] is the heaviest per centimetre</strong>. So, a [psychic] Pokémon may look small, but is much heavier than you expect, and never try to hold a [psychic] Pokémon
                        like holding a [Pikachu].</p>
                    <p id='experience'><strong>[dangon]</strong> gains most base experience in all the types, however, the advantages are not as outstanding as in the comparison of <strong>[Average Height]</strong> and <strong>[Average Weight]</strong>.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- pokemon type END! -->
    <section id="color" class="wrapper bg-img post_section" data-bg="../static/img/pokemon-bg-8.jpg">
        <div class="dark">
            <div class="inner">
                <h2>Pokémon Shape - Weight VS Height</h2>
                <p>Scatter graph has a better view of displaying Pokémon's height and weight in average by type.</p>
                <div id='svg_shape'></div>
            </div>
        </div>
    </section>
    <!-- pokemon shape END! -->
    <section id="color" class="wrapper bg-img post_section" data-bg="../static/img/pokemon-bg-2.jpg">
        <div class="dark">
            <div class="inner">
                <h2>Pokémon Color</h2>
                <p>Pokémons are categoriesed by 10 colors, and <strong>[blue] is the most common color</strong> of Pokémon.</p>
                <div id='svg_color'></div>
            </div>
        </div>
    </section>
    <!-- pokemon color END! -->

    <!-- Footer -->
    <footer id="footer">
        <div class="inner">

            <ul class="icons">
                <li><a href="#" class="icon round fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon round fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon round fa-instagram"><span class="label">Instagram</span></a></li>
            </ul>

            <div class="copyright">
                &copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
            </div>

        </div>
    </footer>

    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
    <script src=" {{ url_for( 'static', filename='js/jquery.min.js' ) }} "></script>
    <script src="{{ url_for( 'static', filename='js/jquery.scrolly.min.js' ) }} "></script>
    <script src="{{ url_for( 'static', filename='js/jquery.scrollex.min.js' ) }} "></script>
    <script src="{{ url_for( 'static', filename='js/skel.min.js' ) }} "></script>
    <script src="{{ url_for( 'static', filename='js/util.js' ) }} "></script>
    <script src="{{ url_for( 'static', filename='js/main.js' ) }} "></script>
    <script src="{{ url_for( 'static', filename='js/plot.js' ) }} "></script>
</body>

</html>